@import "tailwindcss";

@theme {
  --font-rockingsoda: var(--rockingsoda);
  --font-poppins: var(--poppins);

  --color-background: var(--color-background);
  --color-current: var(--color-current);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-brand-yellow: #f4d51f;
  --color-brand-red: #be1622;
}

:root {
  --sun-background: #ffaf1b;
  --sun-current: #210002;
  --sun-primary: #5c1715;
  --sun-accent: #f7a000;

  --mud-background: #210002;
  --mud-current: #ffaf1b;
  --mud-primary: #5c1715;
  --mud-accent: #390206;
}

.sun-theme {
  --color-background: var(--sun-background);
  --color-current: var(--sun-current);
  --color-primary: var(--sun-primary);
  --color-accent: var(--sun-accent);

  color: var(--color-current);
}

.mud-theme {
  --color-background: var(--mud-background);
  --color-current: var(--mud-current);
  --color-primary: var(--mud-primary);
  --color-accent: var(--mud-accent);

  color: var(--color-current);
}

@layer base {
  /* This is needed because the font variables aren't available in @theme */
  body {
    --font-rockingsoda: var(--rockingsoda);
    --font-poppins: var(--poppins);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--rockingsoda);
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }
}
@layer components {
  .content-main {
    --gap: clamp(2rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(100ch, 100% - var(--gap) * 3);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];
  }

  .content-main > * {
    grid-column: content;
  }

  .popout {
    grid-column: popout;
  }

  .feature {
    grid-column: feature;
  }

  .full {
    grid-column: full;
  }
}
